<footer>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="box">
          <h3>Citas</h3>
          <ul>
            <li><a routerLink="/cita/crear" >Agendar cita</a></li>
            <li><a routerLink="/cita/listar">Historial de cita</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-12 col-md-4">
        <div class="box">
          <h3>Acerca de PeinArte</h3>
          <ul>
            <li><a routerLink="#">Sobre nosotros</a></li>
            <li><a routerLink="#">Nuestras tiendas</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</footer>