<mat-card class="shipping-card">
    <mat-card-header>
        <mat-card-title>Eliminar cita</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="row">
            <mat-label>¿ Estas seguro de eliminar este registro ?</mat-label>            
        </div>           
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button color="primary" (click)="cerrar()">Cerrar</button>
        <button mat-raised-button color="warn" (click)="Eliminar()">Eliminar</button>
    </mat-card-actions>
</mat-card>


