<form [formGroup]="form" (ngSubmit)="crear()" #forma="ngForm">

    <mat-card class="shipping-card">
        <mat-card-header>
            <mat-card-title>Registrar empleado</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-sm-4">
                    <mat-form-field appearance="outline">
                        
                            <mat-label>Persona</mat-label>
                            <mat-select  formControlName="persona" required>
                                <mat-option>seleccionar</mat-option>
                                <mat-option *ngFor="let item of persona " [value]="item">
                                    {{item.nombre}}
                                </mat-option>
                            </mat-select>
                    
                    </mat-form-field>
                </div>
               
                <div class="col-sm-3">
                    <mat-form-field  appearance="outline">
                        <input matInput placeholder="Porcentaje:" type="number" formControlName="porcentaje">
                    </mat-form-field>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit" >Grabar</button>
        </mat-card-actions>
    </mat-card>

</form>
