<form [formGroup]="form" (ngSubmit)="crear()" >

    <mat-card class="shipping-card">
        <mat-card-header>
            <mat-card-title>Registrar Cita</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <div class="row">

                <div class="col-sm-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Persona</mat-label>
                        <mat-select formControlName="persona" required>                            
                            <mat-option>seleccionar</mat-option>
                            <mat-option *ngFor="let item of persona " [value]="item">
                                {{item.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-sm-3">
                    <mat-form-field appearance="outline">   
                        <mat-label>Empleado</mat-label>                     
                        <mat-select formControlName="empleado" required>                           
                            <mat-option>seleccionar</mat-option>
                            <mat-option *ngFor="let item of empleado " [value]="item">
                                {{item.persona.nombre}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div class="col-sm-3">
                    <mat-form-field appearance="outline"> 
                        <mat-label>Servicios</mat-label>                       
                        <mat-select formControlName="servicio" required>                           
                            <mat-option>seleccionar</mat-option>
                            <mat-option *ngFor="let item of servicios " [value]="item">
                                {{item.tipo}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-sm-3">
                    <mat-form-field appearance="outline">
                        <mat-label>Fecha</mat-label>
                        <input matInput type="datetime-local" placeholder="start date" formControlName="fecha">
                    </mat-form-field>
                    <div class="col-sm-3">
                </div>

                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="primary" type="submit">Grabar</button>
        </mat-card-actions>
    </mat-card>

</form>